

<div class="container">
    <h2>Johann Sebastian Bach</h2>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <img style="max-width:300px" src="../../assets/composer.jpeg" alt="music sheet" />
        <figcaption>https://unsplash.com/photos/Hlo8ucqYL14</figcaption>
      </div>
      <div class="col-sm-6">
        <p>Johann Sebastian Bach was a German composer who was born March 21, 1685. He was regarded as one of the greatest composers of all time and focused his talents on creating instrumental music pieces. He ended up writing over 1,000 pieces over the course of his life. This renowned composer died on July 28, 1750, and while his work was never widely known during his life, his music went down in history after his death. </p>
      </div>
    </div>
  </div>


