<div class="contact-container">

    <div class="row">
      <div class="col-sm-12">
        <h3 style="padding-left:27%;">Contact Composer</h3>
      </div>
    </div>
  
    <br/><br/>
    <div class="row">
  
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1>Address</h1>
          </div>
        </div>
  
        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">21335</li>
              <li class="list-group-item border-0">Lüneburg, Germany</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="col-sm-6">
          <div class="row location">
            <div class="col-sm-12">
              <h1>Phone number</h1>
            </div>
          </div>
  
          <div class="row location">
            <div class="col-sm-12">
              <ul class="list-group">
                <li class="list-group-item border-0">Phone: 1-800-123-4567</li>
                <li class="list-group-item border-0">Fax: 1-800-123-4567</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
