<div fxLayout="row wrap">
    <div fxFlex>
      <div fxLayout="column">
        <div>
          <img style="max-width:500px; "src="./assets/Priory-OrangeTree-cover.jpeg" />
        </div>
        <div>
          <em>
            Photo from <a class="attribution-link" href="http://samantha-shannon.blogspot.com/p/the-priory-of-orange-tree.html" target="_blank">http://samantha-shannon.blogspot.com/p/the-priory-of-orange-tree.html</a>
          </em>
        </div>
      </div>
    </div>
    <div fxFlex>
      <h1 class="blue">The Priory of the Orange Tree</h1>
      <p>
        The House of Berethnet has ruled Inys for a thousand years. Still unwed, Queen Sabran the Ninth must conceive a daughter to protect her realm from destruction—but assassins are getting closer to her door. 
        Ead Duryan is an outsider at court. Though she has risen to the position of lady-in-waiting, she is loyal to a hidden society of mages. Ead keeps a watchful eye on Sabran, secretly protecting her with forbidden magic.
        Across the dark sea, Tané has trained all her life to be a dragonrider, but is forced to make a choice that could see her life unravel.
        Meanwhile, the divided East and West refuse to parley, and forces of chaos are rising from their sleep.
      </p>
      <em>Biography by: <a class="attribution-link" href="http://samantha-shannon.blogspot.com/p/the-priory-of-orange-tree.html" target="_blank">Blogspot</a>
      </em>
    </div>
  </div>