.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.col {
    align-items:center;
}
.thead-dark {
    background-color: black;
    color: white;
}
  
.textSearch {
    width: 30%;
    float: right;
    margin-bottom: 5px;
}