<!--
// Title: Exercise 5.2 - Navigation and Layout
// Author: Professor Krasso
// Date: 20 Nov 2022
// Modified By: Kailee Stephens
// Description: In-N-Out Books App
// Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->

<div fxLayout="row wrap">
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">navigation</mat-icon>
        </mat-card-title>
  
        <br />
  
        <mat-card-content class="align-center">
          <p>
            40 Rosebery Avenue
          </p>
          <p>
            Clerkenwell, London
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title class="card-title-icon">
          <mat-icon color="primary">phone</mat-icon>
        </mat-card-title>
  
        <br />
  
        <mat-card-content class="align-center">
          <p>
            Direct: 123-123-1234
          </p>
          <p>
            Toll Free: 1-800-123-1234
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <br /><br /><br /><br />
  
  <div fxLayout="column">
    <p style="text-align: center">
      Visit us online or feel free to write us letters!
    </p>
  </div>